<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Update Product</title>
        <link href="/css/styles.css" rel="stylesheet" />
        <script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>
    </head>
    <body>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-5">
                    <div class="card border-0 rounded-lg mt-5">
                        <div class="card-header"><h3 class="text-center font-weight-light my-4">Form Edit Data</h3></div>
                        <div class="card-body">
                            <% productData.forEach((product) => { %>
                            <form action="/update/<%=product?.id%>" method="POST"> 
                                <input type="text" hidden id="idData" value="<%= product?.id %>" />
                                   <div class="form-floating mb-3">
                                    <input class="form-control" id="name" name="name" type="text" value="<%=product.product_name %>" placeholder="Sepatu Terbang" />
                                    <label for="name">Nama Produk</label>
                                </div>
                                <div class="form-floating mb-3">
                                    <input class="form-control" id="size" name="size" type="text"  value="<%=product.size %>" placeholder="ukuran.." />
                                    <label for="size">Ukuran</label>
                                </div>
                                <div class="form-floating mb-3">
                                    <input class="form-control" id="desc" name="desc" type="text" value="<%=product.description%>"  placeholder="ukuran.." />
                                    <label for="desc">Deskripsi</label>
                                </div>
                                <div class="form-floating mb-3">
                                    <input class="form-control" id="brand" name="brand" type="text" value="<%=product.brand%>" placeholder="Merek Adinda" />
                                    <label for="brand">Merek</label>
                                </div>
                                <div class="form-floating mb-3">
                                    <input class="form-control" id="userId" name="userId" type="text" value="<%=product.user_id %>" placeholder="user id anda" />
                                    <label for="userId">ID User</label>
                                </div>
                                    <button class="btn btn-primary btn-lg btn-block">Edit Data</button>
                            </form>
                            <% })%> 
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
        <script src="js/scripts.js"></script>
        <script src="/js/main.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    </body>
</html>
